/* SLIDER */

#slider-div { margin: 0 30% 0 30% }

#slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative
}

#slider li {
    list-style: none;
    position: absolute
}

#slider img {
    margin: auto;
    opacity: 0;
    visibility: hidden;
    height: 250px;
    width: 350px;
    vertical-align: top
}

#slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10
}

#slider input { display: none }

#slider label {
    background-color: white;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10
}

#slider li:nth-child(1) label { left: 10px }

#slider li:nth-child(2) label { left: 40px }

#slider li:nth-child(3) label { left: 70px }

/* PATROCINIOS */

#patros {
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20px;
    padding: 10px;
}

.patro {
    justify-self: center;
    height: 80px;
    width: 100px
}

#ccl { height: 100px }
#hnk { width: 250px }
#lcs { width: 130px }
#pdg { width: 110px }
#skl { width: 150px }
#trm { width: 150px; height: 120px }

@media (min-width: 320px) and (max-width: 991px) {

    /* SLIDER */

    #slider div { margin: 0 }

    #slider {
        margin-bottom: 20px;
        height: 150px;
        width: 200px
    }

    #slider img {
        height: 150px;
        width: 200px
    }

    /* PATROCINIOS */

    .patro {
        justify-self: center;
        height: 50px;
        width: 70px
    }


    #ccl { height: 70px }
    #hnk { width: 220px }
    #lcs { width: 100px }
    #pdg { width: 80px }
    #skl { width: 120px }
    #trm { width: 120px; height: 90px }

}